[Desktop Entry]
Name=paneltopquickwidget
Comment=Shows the quick application bar according to paneltopwidget
Comment[tr]=Panel Üst Gerecine uygun bir şekilde kısayolları içerir
Icon=/usr/share/eta/eta-widgets/icons/topquick.svg

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RequiredExtensions=LaunchApp
X-Plasma-NotificationArea=true
X-Plasma-ConfigPlugins=device_automounter_kcm
X-KDE-PluginInfo-Author=Yunusemre Senturk
X-KDE-PluginInfo-Email=yunusemre.senturk@pardus.org.tr
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Name=paneltopquickwidget
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet
Type=Service

GenericName=Panel Top Quick Widget
GenericName[tr]=Panel Üst Kısayol Gereci
