[Desktop Entry]
Name=paneltopwidget
Comment=Gets user name and surname and shows date and time, and also can open up some specific applications
Comment[tr]=Tüm uygulamaları, Kullanıcı Ad Soyad ve Saati içerir
Icon=/usr/share/eta/eta-widgets/icons/top.svg

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RequiredExtensions=LaunchApp
X-Plasma-NotificationArea=true

X-KDE-PluginInfo-Author=Yunusemre Senturk
X-KDE-PluginInfo-Email=yunusemre.senturk@pardus.org.tr
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Name=paneltopwidget
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet
Type=Service

GenericName=Panel Top Widget
GenericName[tr]=Panel Üst Gereci
