Source: eta-widgets
Section: metapackages
Priority: optional
Maintainer: Yunusemre Şentürk <yunusemre.senturk@pardus.org.tr>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://etap.org.tr

Package: eta-widgets
Architecture: amd64
Depends: ${misc:Depends}, 
 eta-peach,
 eta-widget-appsmenu,
 eta-widget-audioandtools,
 eta-widget-infoandnetwork,
 eta-widget-peachbutton,
 eta-widget-quickappsandusb
Description: ETAP için geliştirilmiş Plasmoidler.
 EtaPanel üzerinde duran ve ETA kullanıcısına çeşitli
 kullanış kolaylıkları sağlayan qml ve cpp ile
 geliştirilmiş plasma4 gereçlerini içeren meta-package.
